
// font sizes and weights
$font-size-xs: 12px;
$font-size-base: 16px;
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-title:46px;

$font-bold: 700;
$font-semi-bold: 600;

// colors
$color-primary: #787486;
$color-secondary: #0D062D;
$bg-color: #F5F5F5;
$bg-color-dark: #E0E0E0;
$border-color: #DBDBDB;
$active-color: #5030E5;
$orange:#D58D49;
$red: #D8727D;
$success: #68B266;

//spacing
$icon_md: 18px;
$icon_xmd:26px;
$spacing30: 30px;
$size40: 40px;
$size20:20px;
$size28px:28px;